[submodule "extlibs/SFML"]
	path = extlibs/SFML
	url = git://github.com/LaurentGomila/SFML.git
[submodule "extlibs/FWSG"]
	path = extlibs/FWSG
	url = gitolite@boxbox.org:fwsg.git
[submodule "extlibs/Diluculum"]
	path = extlibs/Diluculum
	url = gitolite@boxbox.org:diluculum.git
[submodule "extlibs/assimp"]
	path = extlibs/assimp
	url = git://github.com/assimp/assimp.git
[submodule "extlibs/libRocket"]
	path = extlibs/libRocket
	url = git://github.com/lloydw/libRocket.git
[submodule "extlibs/FWMS"]
	path = extlibs/FWMS
	url = gitolite@boxbox.org:fwms.git
[submodule "extlibs/FWCS"]
	path = extlibs/FWCS
	url = gitolite@boxbox.org:fwcs.git
[submodule "extlibs/FWU"]
	path = extlibs/FWU
	url = gitolite@boxbox.org:fwu.git
