[submodule "extlibs/SFGUI"]
	path = extlibs/SFGUI
	url = git://boxbox.org/SFGUI.git
[submodule "extlibs/SFML"]
	path = extlibs/SFML
	url = git://github.com/LaurentGomila/SFML.git
[submodule "extlibs/FWSG"]
	path = extlibs/FWSG
	url = git://github.com/TankOs/FWSG.git
[submodule "extlibs/Diluculum"]
	path = extlibs/Diluculum
	url = git://github.com/lmbarros/Diluculum.git
[submodule "extlibs/assimp"]
	path = extlibs/assimp
	url = git://github.com/assimp/assimp.git
