[submodule "extlibs/SFML"]
	path = extlibs/SFML
	url = https://github.com/SFML/SFML.git
[submodule "extlibs/FWSG"]
	path = extlibs/FWSG
	url = https://github.com/TankOs/flexworld-fwsg.git
[submodule "extlibs/Diluculum"]
	path = extlibs/Diluculum
	url = https://github.com/TankOs/flexworld-diluculum.git
[submodule "extlibs/assimp"]
	path = extlibs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "extlibs/libRocket"]
	path = extlibs/libRocket
	url = https://github.com/lloydw/libRocket.git
[submodule "extlibs/FWMS"]
	path = extlibs/FWMS
	url = https://github.com/TankOs/flexworld-fwms.git
[submodule "extlibs/FWCS"]
	path = extlibs/FWCS
	url = https://github.com/TankOs/flexworld-fwcs.git
[submodule "extlibs/FWU"]
	path = extlibs/FWU
	url = https://github.com/TankOs/flexworld-fwu.git
